<% if user = review.user %>
  <tr>
    <td><span><%= user.first_name %> <%= user.last_name %></span></td>
    <td><p><%= review.rating %></p></td>
    <td><p><%= review.description %></p></td>
    <td>
    <% if current_user && review.user_id == current_user.id %>
        <%= link_to fa_icon("trash"), [@product, @review], method: :delete, data: { confirm: 'Are you sure?' }  %>
    <% end %>
    </td>
  </tr>
<% end %>